{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/portfolio/MIC_font.png' %}">
    <title>Multiband Image Clustering</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
  </head>

  <body>
  <div class="container">
    {% include 'multiband_navbar.html' %}
    {% block content %}
    {% endblock %}
  </div> <!-- /container -->
  <!-- Bootstrap core JavaScript
   ================================================== -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
  <script src="{% static 'javascript/docs.min.js' %}"></script>
  </body>
</html>
